// src/components/AddCityForm/AddCityForm.module.scss
.addCityForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;

  .error {
    color: #d32f2f;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    .MuiTextField-root,
    .MuiButton-root {
      width: 100%;
    }
  }
}
